# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Pacman-visual-studio-13/.vs/Pacman/v14
/Pacman-visual-studio-13/Debug
/Pacman-visual-studio-13/hw0-windows/Debug
/Pacman-visual-studio-13/hw0-windows/glm-0.9.2.7/doc/api-0.9.2
/Pacman-visual-studio-13/hw0-windows/glm-0.9.2.7/doc
/Pacman-visual-studio-13/hw0-windows/glm-0.9.2.7/glm
/Pacman-visual-studio-13/hw0-windows/glm-0.9.2.7/test
/Pacman-visual-studio-13/hw0-windows/glm-0.9.2.7
/Pacman-visual-studio-13/hw0-windows/include
/Pacman-visual-studio-13/hw0-windows/Release
/Pacman-visual-studio-13/dwmapi.pdb/DF968E47B5334BC68AAA28F3F1552A0A2
/Pacman-visual-studio-13/ole32.pdb/9823825475624BDF820D4CB09BD0CE002
/Pacman-visual-studio-13/wUxTheme.pdb/F389917EE1A24D32AD9ED46171F6FDDA2
/Pacman-visual-studio-13/Pacman.VC.VC.opendb
/Pacman-visual-studio-13/Pacman.VC.db
/Pacman-visual-studio-13/Pacman.v12.suo
/Pacman-visual-studio-13/Pacman.suo
/Pacman-visual-studio-13/Pacman.sln
/Pacman-visual-studio-13/Pacman.sdf
/Pacman-visual-studio-13/bSlayer.sdf
/Pacman-visual-studio-13/bSlayer.opensdf
/Pacman-visual-studio-13/hw0-windows/hw0-windows.vcxproj.user
/Pacman-visual-studio-13/hw0-windows/hw0-windows.vcxproj.filters
/Pacman-visual-studio-13/hw0-windows/hw0-windows.vcxproj
/Pacman-visual-studio-13/combase.pdb/40A1233DEADF44C88847FF3A023BC5B02
